body {
    padding: 20px;
}

.img-box {
    width: 400px;
    height: 550px;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#spotlight {
    width: 60px;
    aspect-ratio: 1/1;
    pointer-events: none;
    border-radius: 50%;
    display: none;
    opacity: .5;
    filter: blur(2px);
    background: white;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}