* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.f {display: flex}
.fd {flex-direction: column}
.jcc {justify-content: center}
.aic {align-items: center}

h1 {margin-bottom: 20px}

.load-image {
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    cursor: pointer;
}

.loaded-image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    display: none;
    z-index: 10;
}

.close-btn {
    padding: 10px 25px;
    background: tomato;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 3%;
    top: 4%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.filter {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    user-select: none;
    position: absolute;
    backdrop-filter: url(#pixelate);
    overflow: hidden;
    z-index: 11;
    border: 2px solid black;
    display: none;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
}

#filter-canvas {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
    top: 0;
    z-index: 11;
    border-radius: 50%;
    display: none;
}

#bg-canvas {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.grid {
    width: calc(9px * 20);
    height: calc(9px * 20);
    display: grid;
    grid-template-columns: repeat(20, 9px);
    grid-template-rows: repeat(20, 9px);
}

.grid > div {
    border-right: 1px solid rgba(255,255,255,.5);
    border-bottom: 1px solid rgba(255,255,255,.5);
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
}

.grid > div:nth-child(106) {
    border: 2px solid red;
}

#color-area {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    padding: 20px 40px;
    z-index: 11;
    display: none;
    white-space: nowrap;
}

.color {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background: tomato;
}

.m {
    margin-left: 5px;
    margin-right: 5px;
}