* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.bg-img {
    width: 100%;
    height: 100%;
    transition: 1.5s;
}

.day-btn {
    position: fixed;
    left: 10px;
    bottom: 10px;
    padding: 10px 30px;
    color: indianred;
    background: khaki;
    border: none;
    z-index: 10;

    cursor: pointer;
}

.night-btn {
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 10px 30px;
    color: khaki;
    background: midnightblue;
    border: none;
    z-index: 10;

    cursor: pointer;
}

.space-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200%;
    transition: 1.5s;
    z-index: -1;

}

.moon, .sun {
    width: 250px;
    height: 250px;
    position: absolute;
    object-fit: cover;
    user-select: none;
}

.moon {
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
}

.sun {
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, 50%);
}

#sun:checked ~ .space-bg {
    transform: rotate(180deg);
}
#moon:checked ~ .space-bg {
    transform: rotate(0deg);
}

#sun:checked ~ .bg {
    background: #e3c87f;
}

#moon:checked ~ .bg {
    background: #000023;
}

#sun:checked ~ .bg-img {
    filter: drop-shadow(0 0 0 yellow);
}

#moon:checked ~ .bg-img {
    filter: drop-shadow(0 0 0 darkblue);
}

.bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 1.5s;
    z-index: -1;
}

input[type="radio"] {display: none}