body {
    user-select: none;
}

.group {
    background: #3f51b5;
    padding: 24px;
    border-radius: 5px;
}

.group-title {
    color: white;
}

.group-sortable {
    min-height: 50px;
}

.group-sortable > * {
    cursor: all-scroll;
}

.group-sortable > *:last-child {
    margin-bottom: 0 !important;
}

.profile {
    width: 40px;
    height: 40px;
}

.profile > * {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.card * {
    pointer-events: none;
}