* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#layout {
    width: 800px;
    height: 950px;
    padding: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 10px #ccc;
}

#layout > div {
    border-radius: 10px;
    border: 1px solid #aaa;
    overflow: hidden;
}

.d-flex {
    display: flex;
}

.jcc {
    justify-content: center;
}

.aic {
    align-items: center;
}

.fd {
    flex-direction: column;
}

.jce {
    justify-content: end;
}

.aie {
    align-items: end;
}

#chat-btn {
    background: none;
    width: 100%;
    height: 40px;
    padding: 0 25px;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    cursor: pointer;
}

#chat-btn.leave {
    background: #333;
    color: white;
}

.row-line {
    width: 1px;
    height: 100%;
    background: #aaa;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

#popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
    z-index: 10;
    color: white;
    padding: 30px;

}

#popup > h4 {
    font-weight: normal;
    text-align: center;
    margin-bottom: 10px;
}

#popup button {
    padding: 5px 15px;
    background: none;
    color: white;
}

.left {
    width: 20%;
}

.right {
    width: 80%;
    position: relative;
}

.chat-area {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5%;
    width: 100%;
    border-top: 1px solid #aaa;
}

.chat-area > input {
    width: 90%;
    border: none;
    padding-left: 10px;
}

.chat-area > button {
    background: #333;
    color: white;
    border: none;
    width: 10%;
    cursor: pointer;
    border-left: 1px solid #aaa;
}

.cur-user {
    text-align: center;
    margin: 20px 0;
}

.msg-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 95%;
    overflow-y: auto;
    padding: 10px;
}

.msg {
    margin-bottom: 20px;
}