.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 10px #aaa;
    display: none;
    z-index: 100000000;
}

.content p {
    font-size: 2rem;
}