body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.d-flex {
    display: flex;
}

.aic {
    align-items: center;
}

.jcc {
    justify-content: center;
}

.fd {
    flex-direction: column;
}

h1 {
    margin: 10px 0;
}

#search {
    margin-right: 5px;
}