*{margin: 0;padding: 0;list-style: none; text-decoration: none;box-sizing: border-box;color: inherit; scrollbar-width: none;}

:root{ --color-fff{color: #fff;} }
.dottedLine{border-top: 1px dotted rgb(24, 124, 255); width: 400px; margin-top: 24px;}
.cursor{cursor: pointer;}

.flex{display: flex;}
.jcc{justify-content: center;}
.spaceB{justify-content: space-between;}
.spaceA{justify-content: space-around;}
.spaceE{justify-content: space-evenly;}
.fd{flex-direction: column;}
.aic{align-items: center;}
.m0a{margin: 0 auto;}
.tac{text-align: center;}

.por{position: relative;}
.poa{position: absolute;}

.w100p{width: 100%;}
.w100vw{width: 100vw;}
.w1750{width: 1750px;}
.w310{width: 310px !important;}

.h100p{height: 100%;}
.h100vh{height: 100vh;}

.fff{color: #fff;}
.samsamsam{color: #333;}

.fz19{font-size: 19px;}
.fz22{font-size: 22px;}
.fwB{font-weight: bold;}

table, tr, th, td{border: 1px solid;}

@font-face {
  font-family: cksgur;
  src: url(../공통제공파일/fontawesome/webfonts/);
}

.container{/* position: relative; */ width: 100vw; height: auto; font-family: cksgur;}

/* ----------헤더---------- */
header{position: fixed; left: 50%; transform: translateX(-50%); width: 70%; height: 80px; border-radius: 0 0 25px 25px; z-index: 10; background-color: rgba(229, 238, 109, 0.692); color: #fff; font-weight: bold; font-size: 19px; transition: .4s;}
header:hover{background-color: rgb(255, 226, 59); color: #333;}
.header-logo{width: 12.5%; margin: 0 auto;}

.header-flex{display: flex; justify-content: space-between; width: 90%; margin: -20px auto;}
.nav1{display: flex; justify-content: space-between; align-items: center; width: 480px; height: 0px;}
.nav2{display: flex; justify-content: space-between; align-items: center; width: max-content; height: 0px;}
.nav2 li{padding: 0 10px;}

.nav1>li{transition: .2s;}
.nav2>li{transition: .2s;}
.nav1>li:hover{color: rgb(255, 131, 14);}
.nav2>li:hover{color: rgb(255, 131, 14);}


/* ----------슬라이드---------- */

.slideBox{overflow: hidden;}
.slideBox>ul{display: flex; animation: slide 10s infinite ease-in-out}
.slideBox>ul>li{position: relative;}
.slideTxt{position: absolute; top: 0; left: 200px;}

@keyframes slide {
  0%{transform: translateX(0%);}
  25%{transform: translateX(0%);}
  
  32%{transform: translateX(-100%);}
  57%{transform: translateX(-100%);}
  
  64%{transform: translateX(-200%);}
  89%{transform: translateX(-200%);}

  99.999999%{transform: translateX(-300%);}
  0%{transform: translateX(0%);}
}

/* --------텍스트 애니메이션--------- */

/* .slideTxt{display: flex; align-items: center; height: 100vh;} */
.txtAnimation1{width: 53ch; animation: typing1 3s steps(32, end) infinite; white-space: nowrap; overflow: hidden; font-size: 25px; font-weight: bold;}
.txtAnimation2{width: 53ch; animation: typing2 3s steps(32, end) infinite; animation-delay: 3.5s; white-space: nowrap; overflow: hidden; font-size: 25px; font-weight: bold;}
.txtAnimation3{width: 53ch; animation: typing2 3s steps(32, end) infinite; animation-delay: 6.5s; white-space: nowrap; overflow: hidden; font-size: 25px; font-weight: bold;}

@keyframes typing1 { to{width: 53ch;} from{width: 0px;} }
@keyframes typing2 { to{width: 53ch;} from{width: 0px;} }
@keyframes typing3 { to{width: 53ch;} from{width: 0px;} }

/* -----------도서관 책 정렬---------- */

.library{width: 100%; height: max-content; margin-top: 100px; background-color: antiquewhite;}
.library > ul{gap: 10px; width: 90%; margin: 50px auto; grid-template-columns: repeat(3, 1fr);}

/* .library:has(input:placeholder-shown) > ul{grid-template-columns: repeat(3, 1fr);} */
.library:has(input:in-range:not(:placeholder-shown)) > ul{grid-template-columns: repeat(4, 1fr);}
.library:has(input:out-of-range:not(:placeholder-shown)) > ul{grid-template-columns: repeat(5, 1fr);}


.ctlBox{display: flex; justify-content: space-between; width: 200px; margin-left: 100px;}
.AscDesc{cursor: pointer;}

.ascList, .descList{display: none;}

.library:has(#asc:checked) .ascList{display: grid;}
.library:has(#desc:checked) .descList{display: grid;}


/* -----------소개영역--------- */

.contentB{width: 100%; height: 400px;}
.contentImg{position: relative; width: 55%; height: 400px; margin: 100px auto;}
.contentImg img{width: 1000px; height: 380px;}
.sogeaTxt{position: absolute; top: 40px; color: #fff; text-align: center;}


/* --------------이용수칙 영역---------------- */

.useRule{width: 100%; height: 300px;}
.useRule > ul{width: 50%; margin: 0 auto;}
.useRule>ul>li{padding: 5px;}

/* --------------신청 및 참여 영역---------------- */

.month{display: flex; justify-content: space-between; width: 60%; margin: 60px auto;}
.month label{display: block; width: 50px; height: 50px; line-height: 50px; border: 1px solid;}
.month input:checked + label{background: gold;}


.monthEvent{display: flex;}
.eb{width: 400px; height: 150px; margin: 0 auto; border: 1px solid;}

#m2 + label{background-color: gray;}
#m3 + label{background-color: gray;}
#m8 + label{background-color: gray;}
#m10 + label{background-color: gray;}
#m11 + label{background-color: gray;}
#m12 + label{background-color: gray;}

.month1, .month4, .month5, .month9, .month57{display: none;}

.monthBox:has(#m1:checked) ~ .monthEvent .month1{display: block;}
.monthBox:has(#m4:checked) ~ .monthEvent .month4{display: flex;}
.monthBox:has(#m5:checked) ~ .monthEvent .month5{display: flex;}
.monthBox:has(#m5:checked) ~ .monthEvent .month57{display: block;}
.monthBox:has(#m6:checked) ~ .monthEvent .month57{display: block;}
.monthBox:has(#m7:checked) ~ .monthEvent .month57{display: block;}
.monthBox:has(#m9:checked) ~ .monthEvent .month9{display: block;}


/* ----------푸터---------- */
footer{/* position: absolute; bottom: 0; */ width: 100%; height: 100px; background-color: #333; color: #fff;}
.footer-flex{display: flex; justify-content: space-between; align-items: center; width: 1200px; height: 100px; margin-left: 100px;}

.ul1{font-size: 15px;}
.ul1>li{padding: 2.5px;}
.ul2{font-size: 15px;}
.ul2>li{padding: 2.5px;}

.sns{display: flex; justify-content: space-between; width: 115px;}


/* -------로딩 애니메이션------- */
.lodingAnimation{width: 100%; height: 100%;}
svg{width: 100%; margin: 400px auto;}
path{fill: transparent; stroke: black; stroke-width: 1.5; stroke-dasharray: 3000; stroke-dashoffset: 3000; stroke-linecap: round; stroke-linejoin: round; animation: drawLine 3s ease-in-out forwards, fill 1s ease-in-out 1.5s forwards;}
@keyframes drawLine { to{stroke-dashoffset: 0;} }
@keyframes fill { to{fill: #333;} }

/* ---------사이드 바--------- */

.sideBar{position: fixed; top: 350px; left: 40px; width: 90px; height: 200px; text-align: center; background-color: lightgray; border-radius: 20px; font-weight: bold; color: 333; z-index: 1;}
.sideBar ul{display: flex; justify-content: space-around; flex-direction: column; width: 90px; height: 200px; }



/*
---------------------
  -------B모듈-------
---------------------
*/ 


/*
---------------------
   ---도서관 찾기---
---------------------
*/ 
.allLibray{display:flex; justify-content:center; align-items:center; height: 1000px; margin: 0px auto; padding: 100px 0;}
/* .librayBox{width:750px; height:719px; border:2px solid #ddd; border-radius:10px; padding:10px;} */
canvas{width:100%; height:100%; display:block;}

.modal1{display: none; position: absolute; width: 300px; height: 200px; border-radius: 10px 10px 0 0; background-color: lightgray;}
.bigModal{position: absolute; top: 95px; display: none; width: 710px; height: max-content; margin: 0px auto; border: 1px solid; background-color: lightgray;}
.bigModal .booksBox img{width: 100px;}

.libraryName{text-align: center;}
.libraryImg{width: 300px; height: 70px;}
.libraryImg img{width: 300px;}
.libraryContent{width: 300px; font-size: 15px; padding: 3px; text-align: center;}

.libraryUIName{text-align: center;}
.libraryUIImg{width: 708px; height: 130px;}
.libraryUIContent{text-align: center; font-size: 15px;}

.booksBox{grid-template-rows: repeat(4, 2fr);}
.booksBox img{padding: 5px;}

.shows{display: block;}

.topBooksBox{display: flex;}
.topBooksBox img{width: 100px; height: 130px;}


/* map 사이드 바 */
.searchSideBar{position: absolute; right: 50px; width: 0px; height: 750px; overflow: hidden; transition: .7s; background-color: #7fc5ff;}
.searchSideBar .sideBarContent{width: 270px; margin: 0 auto;}

.sideLibrary{height: 700px; overflow: scroll;}
.sideLibrary .sideLibraryBox{position: relative; top: 10px;}
.sideLibrary .sideLibraryBox .sideLibraryName{position: absolute; bottom: 10px; width: 250px; text-align: center; color: #fff;}
.sideLibrary .sideLibraryBox .sideLibraryImg{width: 250px;}

.searchContentBox{position: relative; right: -500px; top: -360px;}
.hiddenBtn{position: absolute; top: -50px; right: 50px;}



/*
---------------------
  -------ebook------
---------------------
*/

.eBookContainer{width: 100%; height: 100%;}
.background{width: 100%; height: 500px; filter: grayscale(200%);}
.background img{width: 100%; height: 500px; object-fit: cover;}
.eBookFilter{margin: 30px auto; width: 76%;}


.eBookContent{position: relative; padding-top: 30px; display: grid; grid-template-columns: repeat(4, 1fr); gap: 10px; width: 80%; height: max-content; margin: 0 auto;}
.albumBox{display: flex; flex-direction: column; width: 300px; height: 378px; margin: 0 auto; border: 1px solid; text-align: center;}
.albumImg{width: 298px; height: 300px;}


/* eBookModal */
.eBookModal{display: none; position: fixed; top: 130px; left: 24%; width: 1000px; height: 700px; background-color: #fff; border: 3px solid; border-radius: 10px; overflow: visible;}
.eBookTitle{display: flex; width: 980px; justify-content: space-between; padding: 20px;}

.eBookflexBox{height: 660px;}
.infoFlex{width: 900px; margin: 0 auto;}

.openBook{position: relative; overflow: hidden; background: linear-gradient(45deg, rgb(87, 87, 255), rgb(255, 98, 98)); color: #fff; font-weight: bold; cursor: pointer; z-index: 0;}
.openBook::before{content: ""; position: absolute; inset: 0; background: linear-gradient(45deg, rgb(255, 79, 79), rgb(75, 75, 255)); opacity: 0; transition: .5s; z-index: -1;}
.openBook:hover::before{opacity: 1;}

.close{width: 35px; height: 35px; background-color: transparent; border: transparent; transition: .15s;}
.close:hover{color: red;}

.pageBtn{display: flex; justify-content: space-between; width: 250px;}
.bnp{display: block; width: 115px; height: 30px; text-align: center; border: 1px solid; border-radius: 10px; user-select: none;}

.textContent{position: relative; width: 912px; height: 512px; margin: 0 auto; perspective: 1500px; border: 1px solid;}
.textContent::before{display: block; content: ""; width: 1px; height: 450px; margin: 30px auto; background-color: #36a5ff; z-index: 100;}
.page{position: absolute; top: 0; left: 455px; transform-origin: left center; transform-style: preserve-3d; transition: 1s; width: 455px; height: 510px; padding: 5px; background-color: #7fc5ff;}
.page.flipped{transform: rotateY(-180deg);}
/* .page:nth-child(odd){left: 0px;}
.page:nth-child(even){left: 455px;} */

.frontPage, .backPage{position: absolute; width: 100%; height: 100%; backface-visibility: hidden; padding: 15px;}
.backPage{transform: rotateY(180deg);}


/* php */
.bookAddBox{width: 100%;}
#table > table{margin: 50px auto;}