* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.aic {
    align-items: center;
}

.jcc {
    justify-content: center;
}

.fd {
    flex-direction: column;
}

.palette > div {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
}

.palette > div.active {
    border: 2px solid orange;
}

.black {
    background: black;
}
.red {
    background: red;
}
.yellow {
    background: yellow;
}
.green {
    background: green;
}
.blue {
    background: blue;
}

canvas {
    box-shadow: 5px 5px 10px #aaa;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#wrapper {
    width: 300px;
    height: 300px;
    resize: both;
    overflow-y: hidden;
    border: 1px solid #333;
}

.save-btn button {
    padding: 5px;
    margin: 5px;
}

