/* body */
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* application */
#app {
    width: 800px;
}

/* Slider */
#slider {
    height: 10px;
    background-color: #d8cef5;
    border-radius: 50rem;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
}

#slider .bar {
    height: 100%;
    background: #7038e5;
    position: absolute;
}

#slider .bar .circle {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: #7038e5 solid 4px;
    background-color: white;
    box-shadow: rgba(112, 56, 229, 0.5) 0 0 20px;
}

#slider .bar .circle-left {
    left: 0;
    margin-left: -16px;
}

#slider .bar .circle-right {
    right: 0;
    margin-right: -16px;
}

#slider .slider-point {
    position: absolute;
    height: 100vh;
    width: 5px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}


/* display */
#display {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold;
    user-select: none;
}

