* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.f {
    display: flex;
}

.fd {
    flex-direction: column;
}

.aic {
    align-items: center;
}

.jcc {
    justify-content: center;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.section {
    width: 50%;
    height: 100%;
    border: 1px solid #333;
}

.editor {
    width: 100%;
    height: 100%;
}
